body{
  /* background-color: #d9b08c; */
  background-color: #116466;
  font-size: 24px;
  color: white;
}

nav {
  text-align: center;
  border-bottom: 0px;
   box-shadow: 0px 0px;
}

.nav-wrapper {
  background-color: #2c3531;
}

.description {
  margin: 20px;
  padding: 20px;
  /* height: 10vh;  */
  min-height: 10vh; 
  border: 1px solid #fdd0a7;
  border-radius: 20px;
  background-color: #bd9573;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid #fdd0a7;
  margin: 20px;
  padding: 20px;
  height: 75vh;
  border-radius: 20px;
  background-color: #bd9573;
  text-align: center;
}

.page-footer {
  margin-bottom: auto;
  background-color: #2c3531;
}