body {
  background-color: #116466;
  font-size: 150%;
  font-family: "Playfair Display", serif;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  text-align: center;
  border-bottom: 0px;
  box-shadow: 0px 0px;
}

nav ul a {
  font-size: 140%;
}

nav i.material-icons {
  font-size: 135%;
}

.nav-wrapper {
  background-color: #313533;
}

.menu {
  width: 25%;
  margin: 0% 20% 0% 0%;
  display: flex;
  justify-content: space-between;
}

a {
  color: #fff;
}

a:hover {
  color: #32e1e4;
  background-color: #313533 !important;
}

#mobile {
  width: 250px;
  background-color: #c9cecc;
  color: #188f91;
}

.sidenav li > a {
  font-size: 150%;
}

.sidenav li > a:hover {
  color: #fff;
}

.sidenav li > a > i {
  font-size: 125%;
}

.sidenav li > a > i:hover {
  color: #fff;
}

main {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid #2c3531;
  margin: 10px;
  padding: 20px;
  height: 82vh;
  border-radius: 20px;
  background-color: #c9cecc;
  color: #313533;
  text-align: center;
  vertical-align: middle;
}

.page-footer {
  margin-bottom: auto;
  text-align: center;
  background-color: #313533;
}

.lowerLinks {
  display: flex;
  justify-content: space-evenly;
}

.contactImg {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.contactImg:hover {
  background-color: #32e1e4
}

.linkedInImg:hover {
  background-color: #32e1e4
}

.materialize.icons {
  font-size: 125%;
}
